body {
    background-color: #1c2321;
}

.wrapper {
    max-width: calc(1050px - (30px * 2))
}

.page-content.styled {
    background-color: #2b2b2b;

	/* background-image: url(/assets/images/greybg.png); */
	/* opacity: 0.75; */
}

.site-header {
    background-color: #000000;
}

.site-footer {
    background-color: #000000;
}

.footer-col-wrapper {
    color: #e7e8eb !important;
}

a.page-link {
    color: #e7e8eb !important;
}

a.site-title {
    color: #e7e8eb !important;
}

a.dark-button {
    color: #e7e8eb;
    background-color: #1c2321;
    border-radius: 5%;
    padding: 5px;
    margin: 50px !important;
}

a.dark-button:hover {
    color: black;
    text-decoration: none;
    background-color: #a5a5a5;
}

a.dark-button:active {
    color: #e7e8eb;
    background-color: #1c2321;
}

.columns-2 {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.columns-3 {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

.no-border {
    vertical-align: top;
    border: 0;
}

table.no-border {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

header.site-header {
    border-top: 0px;
}

svg.header-icon {
    vertical-align: -6px;
    height: 26px;
    width: 26px;
}

.icon--linkedin {
    margin-left: 15px;
    margin-right: 15px;
}

header.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #0b0e0d;
    z-index: 1;
}

footer.site-footer {
    border-top: 1px solid #0b0e0d;
}

div.footer-col.footer-col-2 {
	width: calc(30% - (30px / 2));
	text-align: center;
}

div.footer-col.footer-col-3 {
	width: calc(35% - (30px / 2));
	text-align: right;
}

main.page-content {
    padding-top: 86px;
}

.utterances {
    position: relative;
    right: 30px;
}

.resume-wrapper {
	animation: fadeIn;
	animation-duration: 1.4s;
}

footer.site-footer.h-card {
	transition: opacity 3s ease-in-out;
     opacity: 1;
}

@media print
{
    main.page-content {
        padding-top: 0px;
    }

    .site-header {
        display: none !important;
    }
    .site-title {
        display: none !important;
    }
    .page-content {
        padding: 0px;
    }
    .site-footer {
        display: none !important;
    }
    .dark-button {
        display: none !important;
    }
    .print-hide {
        display: none !important;
    }
}

.columnl {
		width: 60%;
		padding: 10px;
		padding-left: 40px;
		padding-right: 20px;
		padding-top: 25px;
	}
	.columnr {
		width: 33%;
		padding: 10px;
		padding-left: 20px;
		padding-top: 25px;
		display: inline-block;
	}
	.row {
		display: flex;
	}
	.row:after {
		content: "";
		display: table;
		clear: both;
	}
	.h1title {
		font-weight: 600;
		display: inline-block;
		padding-bottom: 5px;
		position: relative;
	}
	.h1title:before {
		content: "";
		position: absolute;
		float: left;
		width: 70px;
		height: 2px;
		bottom: 0;
		border-bottom: 3px solid rgb(191, 197, 193);
	}
	ul.no-bullets {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	p.contact {
		display: flex;
		width: 180px;
	}
	p.contact:before {
		content: "@";
		padding-right: 4px;
	}
	#resume-shadow {
		border: 1px solid rgb(194, 194, 194);
        text-align: revert;
		/* box-shadow: 20px 12px #b3b3b3; */
	}
	h1.name-title {
		font-weight: bold;
		padding: 30px;
		padding-bottom: 10px;
		letter-spacing: 15px;
	}
	h2.title {
		font-weight: 600;
		margin-bottom: auto;
		padding: 25px;
	}
	h3.title {
		margin-bottom: 0px;
		font-weight: 600;
	}
	img.img-line {
		width: 30px;
		height: 100%;
	}
	div.email-line {
		display: flex;
		padding-top: 18px;
		padding-bottom: 8px;
	}
	div.phone-line {
		display: flex;
		padding-bottom: 8px;
	}
	div.location-line {
		display: flex;
		padding-bottom: 20px
	}
    div.contact {
        align-self: revert;
    }
	
	p.phone-p {
		padding-left:10px;
		margin:inherit;
	}

	.site-nav {
		background-color: black;
	}
	
@media (max-width:800px),(pointer:none) {
  
	p.phone-p {
		padding:10px;
		margin:inherit;
	}
	.row {
		all:revert;
	}
	.row:after {
		all:revert;
	}  
  
	h1.name-title {
	font-weight: bold;
	padding: 30px;
	padding-bottom: 10px;
	letter-spacing: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}

h2.title {
	font-weight: 600;
	margin-bottom: auto;
	padding: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
}

h3.title {
	margin-bottom: 0px;
	font-weight: 600;
	overflow: hidden;
	text-overflow: ellipsis;
}


.h1title {
	font-weight: 600;
	display: inline-block;
	padding-bottom: 5px;
	position: relative;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.h1title:before {
	content: "";
	position: absolute;
	float: left;
	width: 70px;
	height: 2px;
	bottom: 0;
	border-bottom: 0px solid rgb(191, 197, 193);
}

.h1title:after {
	content: "";
    display: block;
    margin: 0 auto; 
    width: 140px;
	bottom: 0;
	border-bottom: 3px solid rgb(191, 197, 193);
}
ul.no-bullets {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

p.contact {
	display: flex;
	width: 180px;
}

p.contact:before {
	content: "@";
	padding-right: 4px;
}

.columnl {
	padding: 20px;
	width:revert;
}

.columnr {
	width:revert;
	display: flex;
	flex-flow: column;
	padding: 20px;
}

div.contact {
	order: 3;
}

div.education {
	order: 1;
}

div.skills {
	order: 2;
}

h1.name-title {
	font-weight: bold;
	padding: 20px;
	padding-bottom: 10px;
}

div.email-line {
	padding-top: 40px;
	display: flex;
	align-items: center;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-bottom: 8px;
}

div.phone-line {
	display: flex;
	align-items: center;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-bottom: 8px;
}

div.location-line {
	display: flex;
	align-items: center;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-bottom: 8px;
}

img.img-line {
	width: 30px;
	height: 100%;
}
#resume-shadow {
    text-align: center;
}

ul.ul-points{
    text-align: left;
}
div.contact {
    align-self: center;
}

div.footer-col.footer-col-2 {
	width: revert;
	text-align: revert;
}

div.footer-col.footer-col-3 {
	width: revert;
	text-align: revert;
}

  }
